// out: ../../build/css/style.css, compress: false, sourceMap: true, autoprefixer: last 5 versions, groupmedia: true
body {
	// background-color: black;
	height: 100vh;

	.body-container {
		padding: 10% 0;
		
		.dashboard-slide-item {
			#slide-container.slide-container {
				display: flex;
				align-items: center;
				justify-content: space-around;
    		flex-direction: row-reverse;
			}
		}
		.dashboard-years {
			.slick-list.draggable {
				padding: 32% 0 !important;
			}

			.dashboard-year-item.slick-slide {
				outline: none;
				.year-wrapper {
					cursor: pointer;
					width: 60%;
					margin: auto;
					span {
						color: #fff;
						font-weight: 700;
						font-size: 17px;
					}
				}
			}
		}
	}
}

.circles-wrapper {
	display: flex;
	justify-content: flex-end;
	.circle-item {
		margin: 0 1rem ;
		.circle-title {
			text-align: center;
			font-size: 1.3rem;
			line-height: 2rem;
			font-weight: 500;
			transform: translate(0px, 50%);
		}
	}
}

.progressbars-wrapper {
	column-count: 2;
	margin-top: 2rem;

	.progressbar-item {
		display: flex;
		padding: 1rem;

		.value {
			transform: translate(-5rem, -1rem);
		}

		p {
			display: flex;
			flex-direction: row-reverse;
			align-items: baseline;
			
			.item-title {
				margin: 0 0rem 0 2rem;
			}
		}
	}
}

.svg-circle {
	circle {
		stroke-dashoffset: 0;
		transition: stroke-dashoffset 1s linear;
		stroke: #666;
		stroke-width: 1em;
	}
	.bar-circle {
	 stroke: #FF9F1E;
 }
}
.count-circle {
  display: block;
  height: 200px;
  width: 200px;
  margin: 2em auto;
  box-shadow: 0 0 1em black;
  border-radius: 100%;
	position: relative;
		&:after {
		position: absolute;
		display: block;
		left: 37%;
		top: 36%;
		content: attr(data-pct)"%";
		border-radius: 100%;
		font-size: 2em;
	}
}
progress[value] {
	appearance: none;
	border: none;
	height: 10px;
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
	color: royalblue;
	position: relative;
}
progress[value]::-webkit-progress-bar {
	background-color: whiteSmoke;
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
}
progress[value]::-webkit-progress-value {
	position: relative;
	background-size: 35px 20px, 100% 100%, 100% 100%;
	border-radius:3px;
	animation: animate-stripes 5s linear infinite;
}
@keyframes animate-stripes { 100% { background-position: -100px 0; } }
.progress-bar {
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
	width: 100%; 
	height:10px;
}
.html5::-webkit-progress-value,
.python::-webkit-progress-value  {
	background-image:
-webkit-linear-gradient( 135deg,transparent,transparent 33%,rgba(0,0,0,.1) 33%, rgba(0,0,0,.1) 66%, transparent 66%),
-webkit-linear-gradient( top,	rgba(255, 255, 255, .25),rgba(0,0,0,.2)),
-webkit-linear-gradient( left, #09c, #f44);
}


#test.columns {
  width: 1200px;
  margin: auto;
}

.form-register {
  text-align: center;
}


form {
  border: 1px solid #eee;
  padding: 4rem 0;
  .form-inner {
    .input-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 600px;
      margin: auto;
      min-height: auto;
      input, select {
        padding: 12px 50px;
      }
      input[type=submit] {
        cursor: pointer;
        margin: 1rem 0;
        border: none;
        &:hover {
          background-color: burlywood;
        }
      }
    }
    p {
      margin: 1rem 0;
      background-color: aqua;
    }
    .msg-form-full-name,
    .msg-form-phone,
    .msg-form-email,
    .msg-form-gender {
      text-align: center;
      margin: 0.5rem auto;
    
      span {
        display: block;
        font-size: 14px;
        color: rgba(0,0,0,0.7);
        background: #ff000063;
        width: 600px;
        margin: auto;
        padding: 5px;
      }
    }
    .error {
      color: #ff0000;
    }
  }
}

/*header*/
.top-menu-section {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem 2rem;
 

  .list-wrapper {
    display: flex;
    @media only screen and (max-width: 780px) {
      display: none;
    }
    li{
      padding: 1rem;
    }
  }
  .login-section {
    @media only screen and (max-width: 780px) {
      display: none;
    }
  }
}

/*login form*/
.js-login-form.form-login {
  text-align: center;
  min-height: 96%;

  .input-wrap {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    margin-bottom: 1rem;
    .button {
      border: none;
    }

    input {
      padding: 10px 8px;
      cursor: pointer;
      border: 1px solid black;
    }
  }
  .remember {
    margin-bottom: 1rem;
  }
}
.js-form {
  max-width: 40%;
  margin: auto;
}
/*register*/
.js-register-form.form-register {
  .input-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    margin: 0 auto 1rem auto;
    .button {
      border: none;
    }
  }
  input {
    padding: 10px 8px;
    cursor: pointer;
    border: 1px solid black;
  }
  input[type=submit] {
    margin-top: 1rem;
  }
}
/*profile-page*/
#profile-page {
  max-width: 1200px;
  margin: auto;
  .inner-width {
    
  }
  .card {
    .image.is-4by3 {
      margin: 0 0 2rem 0;
      img {
        border-radius: 50%;
        width: 80%;
        height: 100%;
        margin: 1rem auto;
      }
    }
    .btns {
      padding: 1rem 0;
      .button {
        width: 100%;
        margin: 8px 0;
      }
    }
    .image.is-48x48 {
      img{
        border-radius: 50%;
      }
    }
  }
}
/*post home page*/
.posts {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .wrapper-post {
    background-color: #eee;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    p {
      width: 30%;
    }
    .img {
      width: 30%;
      min-height: auto;
    }
  }
}
/*moblie nav*/
.mb-menu-wrppaer {
  display: none;
  @media only screen and (max-width: 780px) {
    display: block;
  }
}
#toggle {
  width: 28px;
  height: 30px;
  position: relative;
  top: -41px;
  left: 23rem;
  z-index: 9999;
  display: none;
  @media only screen and (max-width: 780px) {
    display: block;
  }
}


#toggle div {
  width: 100%;
  height: 3px;
  background: red;
  margin: 6px auto;
  transition: all 0.3s;
  backface-visibility: hidden;
  cursor: pointer;
}

#toggle.on .one {
  transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on .two {
  opacity: 0;
}

#toggle.on .three {
  transform: rotate(-45deg) translate(7px, -8px);
}

#menu {
  background-color:#004d74;
  color: white;
  width: 100%;
  height: auto;
  padding: 10px;
  line-height: 20px;
  text-align: left;
  margin: auto;
  display: none;
  position: absolute;
  top: 0%;
  right: 0%;

  @media only screen and (max-width: 480px) {
    .mb-top-menu {
      display: block;
      margin-top: 4rem;
      height: 100vh;
      .list-wrapper {
        
        .items {
          padding: 2rem;
          .link {
            display: flex;
            justify-content: space-between;
            color: #fff;
            font-size: 20px;
          }
          #solutions-id,
          #pricing-id {
            display: none;
          }
        }
      }
    }
  }
  .mb-login-section {
    display: block;
    border: 1px solid #fff;
    padding: 10px;
    margin-top: 2rem;
  }
}