// out: ../../build/css/style.css, compress: false, sourceMap: true, autoprefixer: last 5 versions, groupmedia: true
*,
*::before,
*::after{box-sizing:border-box;}
a{text-decoration:none; color:inherit; cursor:pointer;}
button{background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer;}
figure{margin:0;}
input::-moz-focus-inner {border:0; padding:0; margin:0;}
ul, ol, dd{margin:0; padding:0; list-style:none;}
h1, h2, h3, h4, h5, h6{margin:0; font-size:inherit; font-weight:inherit;}
p{margin:0;}
cite {font-style:normal;}
fieldset{border-width:0; padding:0; margin:0;}
/*End-reset*/

body {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1rem;
  background-color: #fff;
}
/*HEADER*/
.header {
  position: absolute;
  left: 0;
  top: 17px;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 9999;


  .menu-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    .logo {
      width: 25%;
      display: inline-block;
      padding: 8px;
    }
    .nav {
      display: flex;
      align-items: center;

      .list-items.header_menu_class {
        display: flex;
        li.menu-item {
          padding: 1rem;
          a {
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            color: #F2FBFE;
            letter-spacing: 0.72px;
            transition: all 0.2S ease-in-out;

            &:hover {
              color: #0C0064;
              text-decoration: underline;
            }
          }
        }
      }
      .header-button {
        margin-left: 1rem;
        width: 130px;
        text-align: center;
        background-color: #F2FBFE;
        border: 1px solid #F2FBFE;
        padding: 8px;
        border-radius: 25px;
        transition: background-color  0.2s ease-in-out;

        &:hover {
          background-color: transparent;

        }

        .join-link {
          color: #0C0064;
          font-size: 16px;
          font-weight: 400;
          line-height: 22px;
        }
      }
    }
  }
}
/*HOME PAGE*/
.home-page {
  .background-top {
    background-position: top, center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    padding: 0 0 8rem 0;
    @media only screen and (max-width: 600px) {
      min-height: 100%;
    }

    .columns {
      width: 85%;
      margin: auto;
      @media only screen and (max-width: 600px) {
        width: 100%;
      }
      .life-content {
        color:#fff;
        padding: 10rem 0 18rem 0;
  
        .title {
          color:#fff;
          font-size: 48px;
          line-height: 32px;
          font-weight: 900;
        }
        .sub-title {
          font-size: 28px;
          line-height: 28px;
          font-weight: 500;
        }
      }
    }
  }

}

.soical-life {
  padding: 4rem 0;
  background-image: linear-gradient(to right, rgb(120, 208, 243) , #FFFFFF);

  .columns {
    width: 85%;
    margin: auto;
    @media only screen and (max-width: 600px) {
      width: 100%;
    }

    .list-style-food, .list-dogs {
      padding: 4rem 0;
      .item {
        color: #2757b1;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        padding: 6px 0;
        
      }
    }
    .social-life-wrapper {
    position: relative;
      .title-wrap {
        &::after {
          content: '';
          width: 43%;
          height: 4px;
          position: absolute;
          top: 16%;
          margin: auto;
          background: #fff;
          right: 10vw;
      
        }
        h3.title {
          position: relative;
          color: #2757b1;
          font-size: 58px;
          font-weight: 500;
          line-height: 67px;
          padding: 6px 0;
          z-index: 99;
        }
      }
      p.text {
        color: #092a68;
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0.5px;
        padding: 0 0 1rem 0;

      }
    }
  }
}

.lets-play {
  background-image: linear-gradient(to right, #a374ca , rgb(120, 208, 243));
  .columns {
    width: 85%;
    margin: auto;
    @media only screen and (max-width: 600px) {
      width: 100%;
    }

    .content-wrppaer {
      color:#fff;
      padding: 4rem 0;
      text-align: center;
      .sub-title {
        font-size: 24px;
        line-height: 30px;
        font-weight: 500;
        padding:  0 0 1rem 0;
      }
      .title {
        color:#fff;
        font-size: 58px;
        line-height: 65px;
        font-weight: 800;
        padding: 0 0 2rem;
      }
      .btn-wrapper {
        a {
          background-color: #5f3ac3;
          color:#fff;
          padding: 12px 30px;
          border-radius: 25px;
          transition: background-color 0.2s ease-in-out;

          &:hover {
            background-color: #6239df;
          }
        }
      }
    }
  }
}
/*GALLERY*/
.gallery-wrapper {
  padding: 4rem 0;
  overflow: scroll;
  height: 100vh;
  z-index: 999;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(42, 5vw);
  grid-gap: 1rem;

  img.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .inner-0 {
    grid-row: 1/3;
    grid-column: 1/4;
  }
  .inner-1 {
      grid-row: 2/5;
      grid-column: 5/9;
  }
  .inner-2{
    grid-row: 6/8;
    grid-column: 1/4;
  }
  .inner-3 {
    grid-row: 5/8;
grid-column: 5/8;
  }
  .inner-4 {
    grid-row: 10/12;
    grid-column: 6/12;
  }
  .inner-5 {
    grid-row: 14/17;
    grid-column: 5/-1;
  }
  .inner-6 {
    grid-row:   18/22;
    grid-column: 6/-1;
  }
  .inner-7 {
    grid-row:  22/24;
    grid-column: 4/8;
  }
  .inner-8 {
    grid-row: 24/27;
    grid-column: 8/12;
  }
  .inner-9 {
    grid-row: 29/32;
    grid-column: 9/12;
  }
  .inner-10 {
    grid-row: 40/42;
    grid-column: 9/12;
  }
  .inner-11 {
    grid-row: 14/18;
    grid-column: 1/3;
  }
  .inner-12 {
    grid-row: 25/28;
    grid-column: 2/6;
  }
  .inner-13 {
    grid-row: 34/38;
    grid-column: 5/-1;
  }
  .inner-14 {
    grid-row: 28/32;
    grid-column: 2/7;
  }
  .inner-15 {
    grid-row: 34/38;
    grid-column: 1/5;
  }
  .inner-16 {
    grid-row: 38/42;
grid-column: 2/6;
  }

}
.gallery-wrapper {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.gallery-wrapper::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}



.lets-play {
  position: relative;
}
// canvas {
//   width: 100%!important;
//   position: absolute;
//   top: 108rem;
//   left: 0;
//   margin: 0;
//   max-width: 100%;
//   height: 100%;

// }

canvas:active { 
  cursor: pointer;
  cursor: -webkit-grabbing;
}

#canvas-container {
  margin: 0px 0;
}

/*FOOTER*/
footer.footer {
  background-color: #1a1a5b;
  padding: 4rem 0;

  .columns {
    width: 85%;
    margin: auto;
    @media only screen and (max-width: 600px) {
      width: 100%;
    }

    .logo-wrapper {
      width: 100%;
      max-width: 100%;
      min-height: auto;
    }
    .adress {
      color: #fff;
      width: 55%;
    }

    .main-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
      @media only screen and (max-width: 600px) {
        display: block;
      }

      .menu-wrapper{
        margin: 0 3rem;
      }

      .nav-title {
        color: #75c0e5;
        font-size: 19px;
        font-weight: 600;
        padding: 0 0 1rem 0;
      }
      li {
        padding: 3px 0;
        a {
          color: #fff;
          font-size: 14px;
          line-height: 18px;
          font-weight: 200;
        }
      }
    }
    .lsoical-icons {
      display: flex;
      align-items: baseline;
      .img {
        padding: 0 4px;
      }
    }
  }
}