
.dropdown-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 582px;
  max-width: 582px;
  height: 67px;
  min-height: 67px;
  .sign-in-up {
    display: flex;
    align-items: baseline;
    .sign-in {
      color: #fff;
      margin-left: 20px;
      font-family: 'Montserrat',sans-serif;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      &:hover {
        text-decoration: none;
      }
    }
    .sign-up {
      margin-left: 20px;
      height: 32px;
      display: flex;
      padding: 0 16px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-family: 'Montserrat',sans-serif;
      font-size: 14px;
      font-weight: 500;
      color: #ffffff;
      border: 1px solid #ffffff;
      &:hover {
        text-decoration: none;
        color: #0082e6;
        background-color: #fff;
      }
    }
  }
  .language {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    line-height: 13px;
    margin:9px 0px 9px 0px;

  }
}

.fa-angle-down {
  position: relative;
  font-size: 12px;
  transition: transform 0.3s ease;
  top: 3px;
  right: 5px;
  font-size: 16px;
  transition: transform .3s ease;

}

.dropdown {
  background-color: #1F75C9;
  border-radius: 3px;
  width: 57px;
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  color:#fff;
  padding: 1px;
  transition: all 0.2s ease;
  &:hover {
    background-color: #fff;
    color: #1F75C9;
  }
}

.rotate-dropdown-arrow {
  transform: rotate(-180deg);
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  margin-top: 8px;
  width: 40px;
  max-width: 40px;
  padding: 12px;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.3);
  background: #fafafa;
  transition: all 0.3s ease;
  opacity:0;
  visibility:hidden;
  position: absolute;
  top: 51px;
  right: -11vw;
  margin: auto;
}

.dropdown-menu span {
  color: #004d74;
  font-size: 13px;
  font-weight: 400;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s ease;
  border-radius: 7px 8px 0px 1px;
  &:hover {
    background: #004d74;
    color: #fff;
  }
  &:first-child {
    background: #004d74;
    color: #fff;
  }
}
.dropdown-menu span:last-child {
  border: none;
}
#openDropdown:checked + .dropdown-menu {    opacity:1;
  visibility:visible;
}
