#header {
  background-image: linear-gradient(to left, #0082e6, #004d74);
  background-color: #004d74;
  position: fixed;
  width: 100%;
  z-index: 9999;
  @media only screen and (max-width: 480px) {
    height: 65px;
    min-height: 65px;
   }

  .menu-wrap-bar.desktop_only {
    display: flex;
    .logo {
      
      width: 147px;
      min-height: 40px;
      margin-top: 8px;
      a{
        img {
          width: 100%;
          height: auto;
          transform: scale(1);

          @media only screen and (max-width: 480px) {
            margin: 2px 0px 9px 23px;

           }
  
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }

    .top-menu-section {
      display: flex;
      @media only screen and (max-width: 480px) {
        display: none;
      }
      .list-wrapper {
        position: relative;
        display: flex;
        list-style: none;
        padding-inline-start: 14px;
        margin-top: 3px;


        li.items {
          position: relative;
          padding: 20px 14px;
          transition: background-color 0.2s ease;
          // .fa-chevron-down{
          //   transform: translate(5px, 0px);
          // }
          a {
            position: relative;
            color: #fff;
            font-size: 15px;
            line-height: 15px;
            font-weight: 400;
           
            .fa-chevron-down {
              font-size: 13px;
              color:#fff;
              transform: translate(5px, 0px);
             
            }
            &:hover {
              text-decoration: none;
            }
          }
          &:hover {
            background-color: rgba(0,20,40,0.24);
          }
          #solutions-id {
            position: absolute;
            top: 8.5vh;
            left: 1px;
            background: #fff;
            opacity: 0;
            visibility: hidden;
  
            .sub-menu {
              display: flex;
              justify-content: space-between;
              padding: 1rem;
              .sub-col {
                &.second-col {
                  margin-left: 2rem;
                }
                .link-title {
                  cursor: pointer;
                  color: #0082e6;
                  font-size: 15px;
                  font-weight: 400;
                  line-height: 20px;
                }
                .inner-list {
                  list-style: none;
                  padding-inline-start: 0px;
                  .inner-item {
                    margin: 10px 4px;
                    .list-link {
                      p.text-item {
                        font-family: 'Montserrat',sans-serif;
                        font-size: 16px;
                        line-height: 16px;
                        font-weight: 500;
                        color: rgba(0,20,40,0.87);
                        margin-block-start: 0;
                        margin-block-end: 0;
                        margin-top: 12px;
                        cursor: pointer;
                        .fas.fa-archive {
                          margin-right: 1rem;
                          font-size: 27px;
                          transform: translate(0px, 10px);
                        }
                      }
                      span.inner-text-sm {
                        font-size: 12px;
                        font-weight: 300;
                        line-height: 13px;
                        color: rgba(0,20,40,0.6);
                        white-space: nowrap;
                        display: block;
                        margin: 1px 0px 12px 47px;
                      }
                      &:hover {
                        text-decoration: none;
                      }
                    }
                    &:hover {
                      background-color: #e0e7e021;
                    }
                  }
                }
              }
            }
          }
          &:hover {
            #solutions-id, #pricing-id {
              opacity: 1;
              visibility: visible;
            }
          }
          #pricing-id {
            position: absolute;
            top: 8.5vh;
            left: 1px;
            background: #fff;
            width: 560px;
            opacity: 0;
            visibility: hidden;
          
            .sub-menu {
              display: flex;
              justify-content: space-between;
              padding: 1rem;
              padding: 1rem;
              .sub-col {
                &.second-col {
                  margin-left: 2rem;
                  margin-top: 8px;
                }
                .link-title {
                  cursor: pointer;
                  color: #0082e6;
                  font-size: 15px;
                  font-weight: 400;
                  line-height: 20px;
                }
                .inner-list {
                  list-style: none;
                  padding-inline-start: 0px;
                  .inner-item {
                    margin: 10px 4px;
                    .list-link {
                      p.text-item {
                        font-family: 'Montserrat',sans-serif;
                        font-size: 16px;
                        line-height: 16px;
                        font-weight: 500;
                        color: rgba(0,20,40,0.87);
                        margin-block-start: 0;
                        margin-block-end: 0;
                        margin-top: 12px;
                        cursor: pointer;
                        .fas.fa-archive {
                          margin-right: 1rem;
                          font-size: 27px;
                          transform: translate(0px, 10px);
                        }
                        &.pt {
                          padding-top: 24px;
                        }
                      }
                      span.inner-text-sm {
                        font-size: 12px;
                        font-weight: 300;
                        line-height: 13px;
                        color: rgba(0,20,40,0.6);
                        white-space: nowrap;
                        display: block;
                        margin: 1px 0px 12px 47px;
                      }
                      &:hover {
                        text-decoration: none;
                      }
                      
                    }
                    &:hover {
                      background-color: #e0e7e021;
                    }
                    .nav-price {
                      display: flex;
                      margin: 2px 8px 0px 48px;
                      .from{
                        font-size: 10px;
                        font-weight: normal;
                        color: rgba(0,20,40,0.6);
                        margin-top: 4px;
                      }
                      .dollar {
                        font-size: 9px;
                        font-weight: bold;
                        line-height: 1.25;
                        margin: 1px 1px 0px 5px;
                        color: #0082e6;
                      }
                      .price {
                        font-size: 16px;
                        font-weight: bold;
                        line-height: 1.25;
                        color: #0082e6;
                      }
                      .small-num {
                        font-size: 9px;
                        font-weight: bold;
                        line-height: 1.25;
                        text-align: left;
                        color: #0082e6;
                      }
                      .ip-wrap {
                        font-size: 10px;
                        font-weight: normal;
                        line-height: 1.25;
                        text-align: left;
                        color: #0082e6;
                        margin-top: 5px;
                        color: #0082e6;
                      }
                    }
                  }
                }
                .inner-list.pricing-list {
                  margin: 1px 38px 0px 0px;
                 }
              }
            }
            .row-data-center {
              display: flex;
              justify-content: space-between;
              border-top: 1px solid #eee;
              padding: 1rem;
              &.mt {
                margin-bottom: 10px;
              }
              .sub-col {
                &.second-col {
                  margin-left: 2rem;
                }
                .link-title {
                  cursor: pointer;
                  color: #0082e6;
                  font-size: 15px;
                  font-weight: 400;
                  line-height: 20px;
                }
                .inner-list {
                  list-style: none;
                  padding-inline-start: 0px;
                  .inner-item {
                    margin: 10px 4px;
                    .list-link {
                      p.text-item {
                        font-family: 'Montserrat',sans-serif;
                        font-size: 16px;
                        line-height: 16px;
                        font-weight: 500;
                        color: rgba(0,20,40,0.87);
                        margin-block-start: 0;
                        margin-block-end: 0;
                        margin-top: 12px;
                        cursor: pointer;
                        .mr {
                          margin-top: 40;
                        }
                        .fas.fa-archive {
                          margin-right: 1rem;
                          font-size: 27px;
                          transform: translate(0px, 10px);
                        }
                        &.pt {
                          padding-top: 24px;
                        }
                      }
                      span.inner-text-sm {
                        font-size: 12px;
                        font-weight: 300;
                        line-height: 13px;
                        color: rgba(0,20,40,0.6);
                        white-space: nowrap;
                        display: block;
                        margin: 1px 0px 12px 47px;
                      }
                      &:hover {
                        text-decoration: none;
                      }
                      
                    }
                    &:hover {
                      background-color: #e0e7e021;
                    }
                    .nav-price {
                      display: flex;
                      margin: 10px 8px 0px 48px;
                      .from{
                        font-size: 10px;
                        font-weight: normal;
                        color: rgba(0,20,40,0.6);
                        margin-top: 4px;
                      }
                      .dollar {
                        font-size: 9px;
                        font-weight: bold;
                        line-height: 1.25;
                        margin: 1px 1px 0px 5px;
                        color: #0082e6;
                      }
                      .price {
                        font-size: 16px;
                        font-weight: bold;
                        line-height: 1.25;
                        color: #0082e6;
                      }
                      .small-num {
                        font-size: 9px;
                        font-weight: bold;
                        line-height: 1.25;
                        text-align: left;
                        color: #0082e6;
                      }
                      .ip-wrap {
                        font-size: 10px;
                        font-weight: normal;
                        line-height: 1.25;
                        text-align: left;
                        color: #0082e6;
                        margin-top: 5px;
                        color: #0082e6;
                      }
                    }
                  }
                }
              }
              .second-row-right {
                margin: 24px 38px 0px 0px;
              }
            }
            &.resources-wrapper {
              width: 700px !important;
            }
          }
        }
      }
      .right-nav {
        display: flex;
        justify-content: flex-end;
        padding: 20px 0;
        width: 30vw;
      }
    }
  }
}
#header .menu-wrap-bar.desktop_only .top-menu-section .list-wrapper li.items #pricing-id .row-data-center .sub-col .inner-list .inner-item .list-link p.mr{
  margin-top: 40px;
}
